nav {
  background-color: gray;
  border-radius: 5px;
}
nav,
ul li,
li a {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

nav > ul {
  display: flex;
  justify-content: space-between;
}
a {
  color: white;
}
nav ul li {
  position: relative;
  float: left;
  display: block;
  height: 40px;
  text-align: center;
  border-right: 1px solid black;
}
ul {
  padding-left: 0;
  margin: 0;
}
nav ul li a {
  display: block;
  margin: 0 14px;
  padding: 10px 0;

  /*line-height: 28px;
  border-left: 1px solid rgb(67, 54, 80);*/

  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 15px;
  color: aliceblue;
  text-shadow: 1px 1px 1px gray;
}
/* nav ul li:hover {
  color: aqua;
  background-color: blueviolet;
} */
ul.submenu {
  position: absolute;
  border: none;
  opacity: 0;
  background-color: gray;
  border-radius: 5px;
  transition: opacity 0.25s ease 0.1s;
}
ul.submenu li {
  border: none;
}
nav ul li a:hover {
  color: greenyellow;
}
nav ul li:hover > ul.submenu {
  opacity: 10;
  height: auto;
}
.submenu li {
  border-radius: none;
}
